.body{
	background-image: url('FoodBackround.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	font-family: Thonburi;
	color: lavender;
}
/*Location of the menu bar*/
nav
{
	float: contour;
	text-align: center;
}

/*Design for the menu bar*/
nav li
{
	display: inline-block;
	margin-left:30px;
	padding-top: 5px;
	position: relative;
}

/*Design for the menu bar*/
nav a
{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	padding: 10px;
	/*text-align: center;*/
}

/*Color the menu when mouse on it*/
nav a:hover
{
	color: #303b37;
	background-color:var(--headcolor);
	border-radius: 4px;
}

/*Footer contact/terms of use link design*/
a{
	color: white;
	text-decoration-line: none;
}

a:hover{
	color: #303b37;
}

.body h1, h2, h3, h4
{
	text-align: center;
}

/*VDine*/
h1
{
	font-size: 75px;
}

/*Eat, Drink, Vegan Repeat*/
h2
{
	font-size: 25px;
}

/*Here you will find the best vegan place around you*/
h3
{
	font-size: 35px;
	margin-top: 150px;
}

/*Sign In/Sign Up/Adding a new place*/
h4
{
	font-size: 35px;
	margin-top: 50px;
}


.clearfix:hover{
	color: black;
}


/********************Footer*******************/

/*.footer{*/
/*	color: black;*/
/*	background-size: cover;*/
/*}*/

/*common styles !!!YOU DON'T NEED THEM */
.container {
  margin: 60px auto 0px auto;
  text-align: center;
}
/*.container h1 {*/
/*  font-family: "Roboto", sans-serif;*/
/*  font-weight: 900;*/
/*  font-size: 30px;*/
/*  text-transform: uppercase;*/
/*  color: #212121;*/
/*  letter-spacing: 3px;*/
/*}*/
/*.container h1 span {*/
/*  display: inline-block;*/
/*}*/
/*.container h1 span:before, .container h1 span:after {*/
/*  content: "";*/
/*  display: block;*/
/*  width: 34px;*/
/*  height: 2px;*/
/*  background-color: #212121;*/
/*  margin: 0px 0px 0px 2px;*/
/*}*/

.effect {
  width: 100%;
  padding: 50px 0px 70px 0px;
  /*background-color: #212121;*/
}
/*.effect h2 {*/
/*  color: #fff;*/
/*  font-family: "Playfair Display", serif;*/
/*  font-weight: 400;*/
/*  font-size: 25px;*/
/*  letter-spacing: 3px;*/
/*}*/
/*.effect:nth-child(2) {*/
/*  margin-top: 50px;*/
/*}*/
/*.effect:nth-child(2n+1) {*/
/*  !*background-color: #fff;*!*/
/*}*/
/*.effect:nth-child(2n+1) h2 {*/
/*  color: #212121;*/
/*}*/



.effect .buttons {
		/*display: grid;*/
  margin-top: 50px;
  display: flex;
  justify-content: center;
	/*align-items: center;*/
	width: 100%;

}
/*.effect a:last-child {*/
/*  margin-right: 0px;*/
/*}*/

/*common link styles !!!YOU NEED THEM*/
.effect {
  display: flex;
}
.effect a {
  text-decoration: none;
  /*color: #fff;*/
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 20px;
  font-size: 25px;
  overflow: hidden;
  position: relative;
}
.effect a i {
  position: relative;
  /*z-index: 3;*/
}
.effect a.fb {
	/*background-image: url('facebook.jpeg');*/
  	background-color: #3b5998;
}

.effect a.insta {
	/*background-image: url('instagram.jpeg');*/
  background-color: #bc2a8d;
}
.effect a.in {
	/*background-image: url('linkedin.jpeg');*/
  background-color: #007bb6;
}



/* social effect */
.effect.social a {
  transition: transform 0.2s linear 0s, border-radius 0.2s linear 0s;
}
.effect.social a:hover {
  transform: scale(1.2);
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
}


.footer{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	padding: 10px;
	text-align:center;
	/*margin-left: 570px;*/
	/*margin-right: 350px;*/
}

.social{

}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}
  /*}*/
/*}*/

/*****************SignIN******************/


.input
{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	border-radius: 15px;
	background-color: lavender;
}

.subconbutton{
	color: white;
	text-decoration: none;
	/*text-transform: uppercase;*/
	/*font-size: 12px;*/
	/*padding: 10px;*/
}



/*****************SignUp******************/
*
{
box-sizing: border-box}


hr
{
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

/* Set a style for all buttons */
button
{
	background-color: lavender;
	color: black;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
	border-radius: 15px;
}

button:hover
{
	opacity:1;
}


form
{
	padding: 16px;
	margin-right: 350px;
	margin-left: 350px;
	color: lavender;
	font-family: Thonburi;
}

/* Clear floats */
.clearfix::after
{
	content: "";
	clear: both;
	display: table;
}

.clearfix
{
	color: lavender;
	margin-right: 250px;
	margin-left: 250px;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px)
{
	.cancelbtn, .signupbtn
	{
		width: 100%;
	}
}

/*****************AddNewPlace******************/



/*****************FindRestaurantCoffee******************/



/*****************Rate******************/
*
{
	margin: 5px;
	padding: 0;
}


.radioRate
{
	font-weight: bold;
}

/*****************Restaurant/CoffePage******************/

.places
{
	display: grid;
	grid-template-columns: repeat(3, 350px);
	align-items: center;
	justify-content: space-around;
	gap: 50px;
}

.item
{
	background-color: white;
	color: black;
	border: 1px solid balck(0, 0, 0, 0.5);
	padding: 30px;
	font-size: 16px;
	text-align: center;
	border-radius: 15px;
	background-color: lavender;
}

.places a
{
	color: black;
}

.time
{
	text-align: left;
}

.address
{
	text-align: center;
}

.phone
{
	text-align: center;
}

/*****************RatePage******************/

.option{
	width: 25%;
	padding: 12px 20px;
	border-radius: 15px;
	background-color: lavender;
}
