
h1{
    color: white;
    font-family: Thonburi;
    font-size: 75px;
    text-align: center;
}

h2{
    color: white;
    font-family: Thonburi;
    font-size: 25px;
    text-align: center;
}

h3{
    color: white;
    font-family: Thonburi;
    font-size: 35px;
    text-align: center;
}

.buttons{
    color: black;
    background-color: white;
    font-family: Thonburi;
    font-size: 15px;
    display: flex;
    margin: auto;
    cursor: pointer;
}

a{
    color: white;
    text-align: center;
}

nav{
    text-align: center;
}

/*****************SignIN******************/

.container {
    color: white;
    font-family: Thonburi;
    font-size: 15px;
}


/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;

}

/* Add a hover effect for buttons */
/*button:hover {*/
/*  opacity: 0.8;*/
/*}*/

/* Extra style for the cancel button (red) */
/*.cancelbtn {*/
/*  width: auto;*/
/*  padding: 10px 18px;*/
/*  background-color: #f44336;*/
/*}*/


/* Add padding to containers */
.container1 {
    padding: 10px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
/*@media screen and (max-width: 300px) {*/
/*  span.psw {*/
/*    display: block;*/
/*    float: none;*/
/*  }*/
/*  .cancelbtn {*/
/*    width: 100%;*/
/*  }*/
/*}*/

/*****************SignUp******************/

* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: white;
      border-radius: 15px;
}

input[type=text]:focus, input[type=password]:focus {
      background-color: white;
      outline: none;
}

hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
      background-color: white;
      color: black;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    border-radius: 15px;
}

button:hover {
     opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
      padding: 14px 20px;
      background-color: white;
    color: black;
    border-radius: 15px;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 25%;
}

/* Add padding to container elements */
.container {
    padding: 16px;
    /*margin: 0 auto;*/
    /*cursor: pointer;*/
    margin-right: 200px;
    margin-left: 200px;
    color: white;
    font-family: Thonburi;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}


/*****************AddNewPlace******************/




/*****************Rate******************/

*{
    margin: 5px;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.save{
    margin-right: 500px;
    margin-left: 500px;
}

.Rate{
    color: white;
    font-family: Thonburi;
}