<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/Project.css">
    <script defer src="../static/Project.js"></script>
</head>
<body class="body" onload=MyGreeting()>
<nav>
    <ul>
        <li><a href="HomePage.html">Home Page</a></li>
        <li><a href="FindPlacePage.html">Where to eat</a></li>
        <li><a href="SignInPage.html">Sign In</a></li>
        <li><a href="SignUpPage.html">Sign Up</a></li>
        <li><a class="addToMenu" href="AddNewPlacePage.html">Add a new place</a></li>
        <li><a class="addToMenu" href="RatePage.html">Rate</a></li>
    </ul>
</nav>
<div>
    <h1>VDine</h1>
    <h2>Eat, Drink, Vegan, Repeat</h2>
</div>
<br>
<div id="greeting"></div>
<div>
    <h3>Here you can find the best vegan place around you</h3>
</div>
<footer class="footer">
    <div class="effect social">
        <div class="buttons">
            <a href="#" class="fb" title="Join us on Facebook"><img src="../static/facebook.jpeg"></a>
            <a href="#" class="insta" title="Join us on Instagram"><img src="../static/instagram.jpeg"></a>
            <a href="#" class="in" title="Join us on Linked In"><img src="../static/linkedin.jpeg"></a></a>
        </div>
    </div>
    <p>
        <a href="#">Contact Us</a>
        <br>
        <a href="#">Terms & Privacy Policy</a>
        <br>
        VDine © 2022
    <p></footer>
</body>
</html>
