<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Rate a Place</title>
		<link rel="stylesheet" href="../static/Project.css">
		<script defer src="../static/Project.js"></script>
	</head>
	<body class="body">
		<nav>
			<ul>
				<li><a href="HomePage.html" >Home Page</a></li>
				<li><a href="FindPlacePage.html" >Where to eat</a></li>
				<li><a href="Restaurants.html">Restaurants</a></li>
				<li><a href="SignInPage.html" >Sign In</a></li>
				<li><a href="SignUpPage.html">Sign Up</a></li>
				<li><a class="addToMenu" href="AddNewPlacePage.html">Add a new place</a></li>
        		<li><a class="addToMenu" href="RatePage.html">Rate</a></li>
			</ul>
		</nav>
		<div>
			<h1>VDine</h1>
			<h2>Eat, Drink, Vegan, Repeat</h2>
		</div>
		<br>
		<form>
			<label >Please rate the place :)</label>
			<hr>
			<label >Name of the place: </label>
			<select class="option" name="rname" required>
				<option value="anastasia">Anastasia</option>
				<option value="meshek">Meshek Barzilay</option>
				<option value="goddness">Goodness</option>
			</select>
			<!--radioRate-->
			<br>
			<div class="rateAll">

				<p>
					Cleanliness
				</p>
				<div class="rate" id="cleanliness">
					<input type="radio" id="r1_star5" name="clean" value="5 Stars" required>
					<label for="r1_star5">5 Stars</label>
					<input type="radio" id="r1_star4" name="clean" value="4 Stars" required>
					<label for="r1_star4">4 Stars</label>
					<input type="radio" id="r1_star3" name="clean" value="3 Stars" required>
					<label for="r1_star3">3 Stars</label>
					<input type="radio" id="r1_star2" name="clean" value="2 Stars" required>
					<label for="r1_star2">2 Stars</label>
					<input type="radio" id="r1_star1" name="clean" value="1 Star" required>
					<label for="r1_star1">1 Star</label>
				</div>
				<br>
				<p>
					Food quality
				</p>
				<div class="rate" id="FQuality">
					<input type="radio" id="r2_star5" name="FQuality" value="5 Stars" required>
					<label for="r2_star5">5 Stars</label>
					<input type="radio" id="r2_star4" name="FQuality" value="4 Stars" required>
					<label for="r2_star4">4 Stars</label>
					<input type="radio" id="r2_star3" name="FQuality" value="3 Stars" required>
					<label for="r2_star3">3 Stars</label>
					<input type="radio" id="r2_star2" name="FQuality" value="2 Stars" required>
					<label for="r2_star2">2 Stars</label>
					<input type="radio" id="r2_star1" name="FQuality" value="1 Star" required>
					<label for="r2_star1">1 Star</label>
				</div>
				<br>
				<p>
					Service quality
				</p>
				<div class="rate" id="SQuality">
					<input type="radio" id="r3_star5" name="SQquality" value="5 Stars" required>
					<label for="r3_star5">5 Stars</label>
					<input type="radio" id="r3_star4" name="SQquality" value="4 Stars" required>
					<label for="r3_star4">4 Stars</label>
					<input type="radio" id="r3_star3" name="SQquality" value="3 Stars" required>
					<label for="r3_star3">3 Stars</label>
					<input type="radio" id="r3_star2" name="SQquality" value="2 Stars" required>
					<label for="r3_star2">2 Stars</label>
					<input type="radio" id="r3_star1" name="SQquality" value="1 Star" required>
					<label for="r3_star1">1 Star</label>
				</div>
				<br>
				<p>
					Value for money
				</p>
				<div class="rate" id="VForMoney">
					<input type="radio" id="r4_star5" name="VForMoney" value="5 Stars" required>
					<label for="r4_star5">5 Stars</label>
					<input type="radio" id="r4_star4" name="VForMoney" value="4 Stars" required>
					<label for="r4_star4">4 Stars</label>
					<input type="radio" id="r4_star3" name="VForMoney" value="3 Stars" required>
					<label for="r4_star3">3 Stars</label>
					<input type="radio" id="r4_star2" name="VForMoney" value="2 Stars" required>
					<label for="r4_star2">2 Stars</label>
					<input type="radio" id="r4_star1" name="VForMoney" value="1 Star" required>
					<label for="r4_star1">1 Star</label>
				</div>
				<br>
				<label for="subject">Review</label>
				<textarea id="subject" class="input" name="subject" placeholder="Write here your review"></textarea>
			</div>
			<div class="clearfix">
				<input class="button" type="submit" value="Save">
				</input>
			</div>
		</form>
		<footer class="footer">
			<div class="effect social">
				<div class="buttons">
					<a href="#" class="fb" title="Join us on Facebook"><img src="../static/facebook.jpeg"></a>
					<a href="#" class="insta" title="Join us on Instagram"><img src="../static/instagram.jpeg"></a>
					<a href="#" class="in" title="Join us on Linked In"><img src="../static/linkedin.jpeg"></a>
				</div>
			</div>
			<p>
				<a href="#">Contact Us</a>
				<br>
				<a href="#" >Terms & Privacy Policy</a>
				<br>
				VDine © 2022
				<p></footer>
			</body>
		</html>
