<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/Project.css">
    <script src="../static/Project.js"></script>
</head>
<body class="body">
<nav>
    <ul>
        <li><a href="HomePage.html">Home Page</a></li>
        <li><a href="FindPlacePage.html">Where to eat</a></li>
        <li><a href="RestaurantCoffePage.html">Restaurants/Coffee Shops</a></li>
        <li><a href="SignInPage.html">Sign In</a></li>
        <li><a href="SignUpPage.html">Sign Up</a></li>
    </ul>
</nav>
<div>
    <h1>VDine</h1>
    <h2>Eat, Drink, Vegan, Repeat</h2>
</div>
<form>
    <h4>Sign Up</h4>
    <br>
    <p>
        Please fill in this form to sign up :)
    </p>
    <hr>
    <label for="fname"><b>Full Name</b></label>
    <input class="input" type="text" placeholder="Enter full name" name="fnam" id="fname" required>
    <label for="uname"><b>User Name</b></label>
    <input class="input" type="text" placeholder="Enter user name" name="uname" id="uname" required>
    <label for="email"><b>Email</b></label>
    <input class="input" type="text" placeholder="Enter Email" name="email" id="email" required>
    <label for="psw"><b>Password</b></label>
    <input class="input" type="password" placeholder="Enter Password" name="psw" id="psw" required>
    <label for="pswrepeat"><b>Confirm Password</b></label>
    <input class="input" type="password" placeholder="Confirm Password" name="psw-repeat" id="pswrepeat" required>
    <div class="clearfix">
        <input class="button" type="submit" value="Cancel" id="cancelbtn"></input>
        <br>
        <input class="button" type="submit" value="Sign Up" id="signupbtn"></input>
    </div>

</form>

<footer class="footer">
    <div class="effect social">
        <div class="buttons">
            <a href="#" class="fb" title="Join us on Facebook"><img src="../static/facebook.jpeg"></a>
            <a href="#" class="insta" title="Join us on Instagram"><img src="../static/instagram.jpeg"></a>
            <a href="#" class="in" title="Join us on Linked In"><img src="../static/linkedin.jpeg"></a>
        </div>
    </div>
    <p>
        <a href="#">Contact Us</a>
        <br>
        <a href="#">Terms & Privacy Policy</a>
        <br>
        VDine © 2022
    <p>
</footer>
</body>
</html>
