<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="../static/Project.css">
    <script defer src="../static/Project.js"></script>
    <script defer src="../static/SignInValidation.js"></script>
</head>
<body class="body">
<nav>
    <ul>
        <li><a href="HomePage.html">Home Page</a></li>
        <li><a href="FindPlacePage.html">Where to eat</a></li>
        <li><a href="SignInPage.html">Sign In</a></li>
        <li><a href="SignUpPage.html">Sign Up</a></li>
        <li><a class="addToMenu" href="AddNewPlacePage.html">Add a new place</a></li>
        <li><a class="addToMenu" href="RatePage.html">Rate</a></li>
    </ul>
</nav>
<div>
    <h1>VDine</h1>
    <h2>Eat, Drink, Vegan, Repeat</h2>
</div>
<form class="signInForm">
    <h4>Sign In</h4>
    <br>
    <p>
        Please fill in this form to sign in :)
    </p>
    <hr>
    <div class="msg"></div>
    <label for="uname"><b>User Name</b></label>
    <input class="input" type="text" placeholder="Enter user name" name="uname" id="uname" required>
    <label for="psw"><b>Password</b></label>
    <input class="input" type="password" placeholder="Enter Password" name="psw" id="psw" required>
    <div>
        <input type="checkbox" id="showPsw" placeholder="Show Password" onclick="showPassword()">Show Password
    </div>
    <br>
    <div>
        <a href="HomePage.html"><input class="button" type="submit" value="Sign In" id="signin"></input></a>
    </div>
</form>
<footer class="footer">
    <div class="effect social">
        <div class="buttons">
            <a href="#" class="fb" title="Join us on Facebook"><img src="../static/facebook.jpeg"></a>
            <a href="#" class="insta" title="Join us on Instagram"><img src="../static/instagram.jpeg"></a>
            <a href="#" class="in" title="Join us on Linked In"><img src="../static/linkedin.jpeg"></a>
        </div>
    </div>
    <p>
        <a href="#">Contact Us</a>
        <br>
        <a href="#">Terms & Privacy Policy</a>
        <br>
        VDine © 2022
    <p></footer>
</body>
</html>
