/*All pages style*/
.body {
    display: flex;
    flex-direction: column;
    background-image: url('FoodBackround.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    font-family: Thonburi;
    color: lavender;
    animation: fadeIn 5s;
}


/*Location of the menu bar*/
nav {
    float: contour;
    text-align: center;
}

/*Design for the menu bar*/
nav li {
    display: inline-block;
    margin-left: 30px;
    padding-top: 5vh;
    position: relative;
}

/*Design for the menu bar*/
nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px;
}

/*Shows on which page the user is*/
.active {
    background: #303b37;
    color: white;
    overflow: hidden;
    border-bottom: 2px solid white;
    padding: 8px;

}

/*Color the menu when mouse on it*/
nav a:hover {
    color: #303b37;
    background-color: var(--headcolor);
    border-radius: 4px;
}

/*Footer contact/terms of use link design*/
a {
    color: white;
    text-decoration-line: none;
}

/*Color the footer links when mouse on it*/
a:hover {
    color: #303b37;
}

/*Design of all main headers*/
.body h1, h2, h3, h4 {
    text-align: center;
}

/*h1 design - VDine*/
h1 {
    margin-top: 5vh;
    font-size: 75px;
}

/*h2 design - Eat, Drink, Vegan, Repeat*/
h2 {
    font-size: 25px;
}

/*h3 design - Here you will find the best vegan place around you*/
h3 {
    font-size: 35px;
    margin-top: 150px;
}

/*h4 design - Sign In/Sign Up/Adding a new place*/
h4 {
    font-size: 35px;
    margin-top: 50px;
}


/*Fade in animation*/
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 2;
    }
}

/*Greeting content design*/
#greeting {
    text-align: center;
    font-size: 20px;
}


/********************Footer*******************/

/*Design the footer items*/
.footer {
    margin-top: 10%;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    max-height: 20px;
}


/*Design the social media icons*/
.effect .buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 0px 20px 0px;
}


/*Design the size and display of the social media icons*/
.effect a {
    text-decoration: none;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 25px;
    overflow: hidden;
    position: relative;
}


/* social media icon effect*/
.effect.social a {
    transition: transform 0.2s linear 0s, border-radius 0.2s linear 0s;
}

/* social media icon effect*/
.effect.social a:hover {
    transform: scale(1.2);
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
}


/*****************SignIN******************/

/*Design for all input fields*/
.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: lavender;
}


/*****************SignUp******************/

/*Design all items to fit the size of the form*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Design of the line at the start of the form*/
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 2vh;
}

/*Set the forms style*/
form {
    display: grid;
    align-items: center;
    width: 60%;
    margin-left: 20%;
    padding: 16px;
    color: lavender;
    font-family: Thonburi;
}

/* Set a style for all buttons*/
.button {
    display: grid;
    background-color: lavender;
    color: black;
    padding: 12px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 25%;
    opacity: 0.9;
    border-radius: 15px;
}

/*Design when mouse is on the button*/
.button:hover {
    opacity: 1;
}


/*****************AddNewPlace******************/

input[type="time" i] {
    background-color: lavender;
    margin-top: 8px;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    height: 50px;
    padding: 12px 20px;
}

/*Design open hours fields*/
#OpenH {
    display: flex;
    margin: 10px;
    padding: 10px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 15px;
}

/*****************FindRestaurant******************/

/*Design the map view*/
#map {
    border: 1px solid #303b37;
    border-radius: 15px;
    height: 400px;
    width: 100%;
}


/*Design of all places*/
.places {
    display: grid;
    grid-template-columns: repeat(3, 50vh);
    grid-auto-rows: 50vh;
    align-items: center;
    justify-content: space-around;

}

/*Design of each restaurant in the page*/
.item {
    display: grid;
    background-color: white;
    color: black;
    padding: 5vh;
    font-size: 16px;
    text-align: center;
    border-radius: 15px;
    background-color: lavender;
}

/*Design of the url of each restaurant*/
.places a {
    color: black;
}

/*Design of the open hours of each restaurant*/
.openHours {
    text-align: left;
}

/*Design of the address of each restaurant*/
.address {
    text-align: center;
}

/*Design of the contact number of each restaurant*/
.contactNumber {
    text-align: center;
}



/*****************Rate******************/

/*Design the option fields*/
.option {
    width: 25%;
    padding: 12px 20px;
    border-radius: 15px;
    background-color: lavender;
}

/*All rate options design*/
.rateAll {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/*Design the stars*/
.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

/*Design the radio stars*/
.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

/*Shows stars instead of numbers*/
.rate:not(:checked) > label:before {
    content: '★ ';
}

/*Allow selecting the rating (number of stars)*/
.rate > input:checked ~ label {
    color: #ffc700;
}

/*Shows mouse moving on the stars*/
.rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover, .rate > input:checked + label:hover ~ label, .rate > input:checked ~ label:hover, .rate > input:checked ~ label:hover ~ label, .rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}



/*************Other******************/

/*Design of the messages the user gets*/
.msg {
    color: crimson;
    background-color: lavender;
    border-radius: 5px;
    text-align: center;
    opacity: 0.8;
}

